#article-block {
  .title {
    border-left: 5px solid palette(Blue, 600);
    padding-left: 8px;
    margin-bottom: 5px;
  }
  .tags {
    a {
      &:before {
        content: 'label';
        font-family: 'Material Icons';
        margin-right: 4px;
      }
      &:hover {
        color: palette(Blue,700);
      }
      text-decoration: none;
      color: palette(Black, Text);
      padding-left: 5px;  
      margin: 0;
    }
    border-bottom: 1px solid palette(Black, Dividers);
  }
}
