@import "compass/css3";
.mdl-layout_content {
  background-color: palette(Grey,200);
}

.page-content {  
  #article-block {
    .mdl-card__title {
      background-color: palette(Blue,A200);
      background-size: 100% auto;
      background-repeat: no-repeat;
      h2 {
        color: white;
        text-shadow: 0px 0px 3px rgba(#000, 0.7);
      }
    }
    #readmore {
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(flex-end);
      a {
        color: palette(Blue,A400);
        font-weight: bold;
      }
    }
  }
  .pages {
    margin: auto;
    ul {
    @include display-flex;
    @include flex-direction(cloumn);
    @include justify-content(center);
    }
    li {
    list-style: none; 
    margin: 10px;
    a {
      text-decoration: none;
    }
    a.current {
      font-weight: bold;
    }
    }
  }
}
