header.mdl-layout__header.mdl-layout__header--waterfall
  .mdl-layout__header-row
    a.mdl-layout-title(href="/") #{title}
    .mdl-layout-spacer
    .mdl-layout-spatfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-rightl.mdl-textfield--align-right
      label.mdl-button.mdl-js-button.mdl-button--icon(for='waterfall-exp')
        i.material-icons search
      .mdl-textfield__expandable-holder
        input.mdl-textfield__input(type="text",name="sample",id="waterfall-exp")

  .mdl-layout__header-row
    .mdl-layout-spacer
    nav.mdl-navigation
      a.mdl-navigation__link(href='/') Home
      a.mdl-navigation__link(href='/tag/index.html') Tags
      a.mdl-navigation__link(href='/archives/index.html') Archives
      a.mdl-navigation__link(href='') AboutMe

.mdl-layout__drawer
  span.mdl-layout-title #{title}
  nav.mdl-navigation
    a.mdl-navigation__link(href='/') Home
    a.mdl-navigation__link(href='/tag/index.html') Tags
    a.mdl-navigation__link(href='/archives/index.html') Archives
    a.mdl-navigation__link(href='') AboutMe
