# Npm
node_modules/

# Bower
bower_components/

# Sass
.sass-cache/

# Vim
[._]*.s[a-w][a-z]                                                              
[._]s[a-w][a-z]                                                                
*.un~                                                                          
Session.vim                                                                    
.netrwhist                                                                     
*~ 
*.swp

# Static
*.html
*.css
