/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.mdl-layout_content {
  background-color: #EEEEEE;
}

.page-content #article-block {
  max-width: 980px;
  width: 100%;
  margin: 40px auto 40px auto;
}
.page-content #article-block .mdl-card__title {
  background-color: #448AFF;
}
.page-content #article-block .mdl-card__title h2 {
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}
.page-content #article-block #readmore {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.page-content #article-block #readmore a {
  color: #2979FF;
  font-weight: bold;
}

body {
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
#main .page-content {
  flex: 1;
}
