<!DOCTYPE html><html><head><title>DiSoul Blog</title></head><body><div class="headblock"><div class="avator"><img src="https://avatars1.githubusercontent.com/u/8756894?v=3&amp;s=460"></div><div class="text"><div class="name"><p>DiSoul Blog</p></div><div class="info"><p>xxxxxxxxxxxxxxxxx</p></div></div></div><div class="content"><div class="article-block"><h2 class="title">Test</h2><div class="tags"><p>test</p><p>test2</p></div><div class="article-content"><h3>H3</h3>

<h2>H2</h2>

<p>markdown test</p></div></div><div class="article-block"><h2 class="title">2333</h2><div class="tags"><p>test</p><p>test2</p><p>test1</p><p>test2</p></div><div class="article-content"><p><code>python
import this
</code></p></div></div><div class="article-block"><h2 class="title">dota</h2><div class="tags"><p>test</p><p>test2</p><p>test1</p><p>test2</p><p>game</p></div><div class="article-content"><p>sadafdafadfafa</p></div></div></div></body></html>